*{
    margin: 0;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url(../fonts/JetBrains_Mono/JetBrainsMono-Regular.ttf);
}

/*! Tags HTML */

body{
    font-family: 'JetBrains Mono';
    width: 100%;
    background-color: rgb(52, 60, 82);
}

nav{
    background-color: rgb(165, 2, 230);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: x-large;
    height: 7vh;
}

nav > div > h1{
    padding-left: 50px;
}

a{
    color: white;
}

table, td, th{
    border: 1px solid;
}

tr{
    text-align: center;
}

td{
    height: 40px;
}

table{
    background-color: white;
    border-radius: 10px;
    width: 57.8vw;
    margin: 20px;
    border-collapse: collapse;
}

/** Classes */

.preto{
    color: black;
}

.container-error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(184, 1, 1);
    width: 20vw;
    border-radius: 10px;
}

.error{
    color: white;
}

.nav-buttons{
    background-color: white;
    border: none;
    border-radius: 7px;
    padding: 6px;
    font-family: 'JetBrains Mono';
    font-weight: bold;
    cursor: pointer;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    flex-direction: column;
    gap: 20px;
}

.div-cadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(165, 2, 230);
    color: white;
    width: 26vw;
    height: 46vh;
    border-radius: 30px;
    gap: 10px;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.274);
}

.div-cadastro > form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.div-cadastro > form > label > input{
    background-color: white;
    border: none;
    border-radius: 5px;
    height: 25px;
    width: 100%;
}

.btn-conta{
    background-color: white;
    border: none;
    border-radius: 7px;
    width: 90px;
    height: 30px;
    font-family: 'JetBrains Mono';
    font-weight: bold;
    cursor: pointer;
}

.div-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(165, 2, 230);
    color: white;
    width: 26vw;
    height: 46vh;
    border-radius: 30px;
    gap: 10px;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.274);
}

.div-login > form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.table-window{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 67vw;
    height: 70vh;
    background-color: rgb(165, 2, 230);
    border-radius: 10px;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.274);
}

.table-livros{
    display: flex;
    background-color: white;
    width: 60vw;
    height: 65vh;
    border-radius: 10px;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.274);
}

.buttons{
    display: flex;
    gap: 10px;
}

.cadastro-livros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(165, 2, 230);
    color: white;
    width: 26vw;
    border-radius: 30px;
    gap: 10px;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.274);
}

.cadastro-livros > form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px;
}

.file-button{
    background-color: #ffffff;
    color: black;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    position: absolute;
}
.file-button:hover{
    background-color: #d1d1d1;
}

/*? IDs */

#other-inputs{
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    height: 25px;
    width: 100%;
}
